body {
    background-color: #ededed;
}

article {
    padding : 20px;
    margin : 0 30px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);


    h3 {
        color : #2aabd2;
    }

    p {
        padding: 10px 0;
        color : black;
        line-height: 27px;
        font-size: 17px;
    }
    .post-content {

    }

    a, a:visited, a:hover {
        text-decoration: none;
    }

    .btn {
        border-color: #2aabd2;
        color : #2aabd2;
    }

    .btn:hover {
        background-color: #2aabd2;
        color : white;
    }
}