body {
    background-color: #ededed;
    padding-top: 70px;
    padding-bottom: 30px;
}

article {
    padding : 20px;
    margin : 30px 0;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);


    h3 {
        color : #2aabd2;
    }

    p {
        padding: 10px 0;
        color : black;
        line-height: 27px;
        font-size: 17px;
    }
    .post-content {

    }

    a, a:visited, a:hover {
        text-decoration: none;
    }

    .btn {
        border-color: #2aabd2;
        color : #2aabd2;
    }

    .btn:hover {
        background-color: #2aabd2;
        color : white;
    }
}

.about {
    background-color: #ffffff;
    padding: 40px 20px;
    .photo {
        background-image: url(../images/photo.jpg);
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-position: -182px -38px;
        background-size: 155%;
        border: #ededed solid 1px;
    }
}

.section {
    padding : 20px;
    border-top: 1px solid #ededed;
}